.group-label{
    display: block;
    align-self: center;
    margin-top: -50px;
    height: 100%;
    font-size: 160px;
}

.container{
    margin-top: -50px;
}

.priority-footer{
    width: 100%;
}

.loadingScreen {
    z-index: 100;
    background-color: #0000009b;
}

.backBtn {
    z-index: 101;
}